*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/body-bg.jpg);
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 250px;
    align-items: center;
}

.navbar > a{
    display: flex;
    column-gap: 7px;
    align-items:center ;
    text-transform: capitalize;
    font-family: fantasy;
    font-size: 45px;
    font-weight: 700;
    color:rgb(155, 59, 244) ;
}

.navbar ul{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navbar ul li a{
    padding: 45px 0;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    color:rgb(180, 180, 180);
    transition: all .0.2s ease-in-out;
}

.navbar ul li a:hover{
    color: rgb(37, 237, 255);
}

.navbar a img{
    border-radius: 50%;
}